
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
<h2>Burger that are not devoured!</h2>

  <ul>
    {{#each burgers}}
         
      {{#unless devoured}}
    
      {{> burger/burger-block devoured=true}} 
 
      {{/unless}}

   {{/each}}
  </ul>
</div>
<div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Burger that are devoured!</h2>

    <ul>
      {{#each burgers}}
        {{#if devoured}}
        <li>
          {{!-- {{id}}
        {{burger_name}} --}}
        <button type="button" class="btn btn-default btn-lg change-devoured"  data-id="{{id}}">
	<span class="glyphicon glyphicon-piggy-bank"></span> 	{{burger_name}} 
	</button>
        </li>
        
        {{/if}}
      {{/each}}
    </ul>
</div>
</div>
</div>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="bu" name="burger_name">
  </div>

 

  <button type="submit"><i class="glyphicon glyphicon-check"></i>Add Cat</button>
</form>





